[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
scipy = "*"
flake8 = "*"
pytest = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.10"
